
@{
    ViewData["Title"] = "Kullanıcı Kayıt";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<h1>Kullanıcı Kayıt Formu</h1>
<form method="post">
    <input type="text" name="UserName" placeholder="Yönetici Adını Giriniz." />
    <input type="password" name="UserPassword" placeholder="Yönetici Parolasını Giriniz." />
    <input type="submit" value="Ekle" />
</form>


