@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<a href="/User/UserLogout/">Çıkış Yap</a>
<h1>Hoşgeldin @ViewBag.Id ID'li kullanıcımız - @ViewBag.Name</h1>



