
@{
    ViewData["Title"] = "Kullanıcı Giriş";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<h1>Kullanıcı Giriş Formu</h1>
<form method="post">
    <input name="UserName" />
    <input name="UserPassword" />
    <input type="submit" value="Giriş yap" />
</form>
<a href="/User/UserRegister/">Kayıt Ol</a>

