﻿﻿@using TatilSitesi.Models
@model IEnumerable<Comment>

@if (!Model.Any())
{
    <div class="container-fluid">
        <p class="bg-secondary text-white p-3" style="border-radius:10px;">
            Hiç yorum yapılmadı.İlk yorumu yapan siz olun.
        </p>
    </div>
}
@foreach (var y in Model)
{
    <div class="container-fluid">
        <div style="background-color:#cac6c694;border:1px solid black;border-radius:5px;" class="row mt-2 mb-2">
            <div style="text-align:start;" class="col-6 mt-2">
                @y.User.UserName
            </div>
            <div style="text-align:end;" class="col-6 mt-2">
                @y.CommentDate.ToString("dd MMMM yyyy")
            </div>
            <div class="col-12 mt-2 mb-2">
                @y.CommentText
            </div>
        </div>
    </div>
}