@using TatilSitesi.Models
@model IEnumerable<HotelRoomImage>

@foreach(var item in Model){
    <div class="col-12 mt-2 mb-2">
        <img style="float:left;padding:2px" width="180px" height="180px" src="@item.HotelRoomImageUrl">
    </div>
}