﻿<div style="margin-top:-15px;" class="container-fluid">
    <form action="/Category/CategoryAdd/" method="post">
        <input type="text" style="width:50%;padding: 4px 10px;border-right:none;outline:none" name="CategoryName" placeholder="Eklemek İstediğiniz Kategori Adını Giriniz." required/>
        <input class="text-center btn-success" style="padding: 4px 10px;margin-left:-10px;" type="submit" value="Ekle" />
    </form>
</div>