
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<h1 class="text-center">Yaz Fırsatları</h1>
@await Component.InvokeAsync("ListSummerHotels");
<br />
<h1 class="text-center">Avrupa Rotası</h1>
@await Component.InvokeAsync("ListEuropeHotels");

