
@{
    ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<a href="/Admin/AdminLogout/">Çıkış Yap</a>
<h1>Hoşgeldin @ViewBag.Name ID'li kullanıcımız - @ViewBag.Id</h1>

