
@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<form method="post">
    <input name="AdminName" />
    <input name="AdminPassword" />
    <input type="submit" value="Giriş yap" />
</form>

