﻿<div style="margin-top:-15px;" class="container-fluid">
    <form action="/Admin/AdminAdd/" method="post">
        <center class="mb-2">
            <input type="text" style="width:50%;padding: 4px 10px;outline:none" name="AdminName" placeholder="Eklemek İstediğiniz Yönetici Adını Giriniz." required />
        </center>
        <center class="mb-2">
            <input type="password" style="width:50%;padding: 4px 10px;outline:none" name="AdminPassword" placeholder="Eklemek İstediğiniz Yönetici Parolasını Giriniz." required />
        </center>
        <center>
            <input class="text-center btn-success" style="padding: 4px 10px;margin-left:-10px;" type="submit" value="Ekle" />
        </center>
    </form>
</div>