
@{
    ViewData["Title"] = "AdminRegister";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<form method="post">
    <input type="text" name="AdminName" placeholder="Yönetici Adını Giriniz." />
    <input type="password" name="AdminPassword" placeholder="Yönetici Parolasını Giriniz." />
    <input type="submit" value="Ekle" />
</form>

